.center {
  text-align: Center;
} /* Use class center to center text */

/* Colors below */
.blue {color: Blue;}
.red {color: Red;}
.green {color: Green;}
.black {color: Black;}
.white {color: White;}
.brown {color: Brown;}
.orange {color: Orange;}
.grey {color: Grey;}


.basic {
  /*border-top: 1px solid  #ff0;*/
  border-left: 5px solid red;
  background-color: Grey;
  
  margin-left: 0px;
  margin-right: 0px;
  
}

.links {
  font-size: 15px;
  margin: 0
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}
